.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  max-width: 800px;
}

.main {
  padding: var(--padding-content) 1rem;
}

article img {
  max-width: 780px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

@media (max-width: 800px) {
  article img {
    max-width: 100%;
  }
}

/* Button styles */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: none;
  background: var(--brand-primary);
  color: #fff;
  font-size: 20px;
  cursor: pointer;

  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: background, color, opacity;

  -webkit-tap-highlight-color: transparent;
}
button[disabled] {
  background: #464646;
  cursor: not-allowed;
}

button span {
  display: block;
  flex-basis: calc(100% - 50px);
}

button .icon {
  display: block;
  width: 0;
  overflow: visible;
}

button .icon svg {
  display: block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-top: 1px;
  transform: translateX(-25px);
  animation: fade-in 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
